<div class="container mt-3 fw-bolder">
  <div class="header-style">
      <h1 class="fw-bolder">NRPCA Event List</h1>
  </div>
  <hr/>
</div>

<app-loaderror></app-loaderror>

<div class="container app-container">

    <div class="modal fade"  tabindex="-1" id="detail-popup">
      <div class="modal-dialog" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;">
        <div class="modal-content">
          <div class="modal-body">
            <p><strong>Event: </strong><span id="event-name"></span></p>
            <p><strong>Date: </strong><span id="event-date"></span></p>
            <p><span id="event-detail"></span></p>
          </div>
          <div class="modal-footer" style="text-align:center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
    </div>
      </div>
    </div>

    <h2 class="header-style">Click on event title for details</h2>

    <table class="table table-striped">
        <tbody style="color: black;">
        <tr *ngFor = 'let events of events'>
            <td>
              {{ events.datetime }}
            </td>
            <td>
              <a id="e{{ events.id }}" (click)="showPopup($event)">
                {{ events.descr }}
              </a>
              <div class="detail-div" id="d{{ events.id }}">
                {{ events.detail }}
              </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
