.header-container {
    color: transparent;
    padding:4px;
    font-weight: bolder;
  }

.mycontainer {
  width: 90%;
  margin:auto;
  padding:4px;
}

#detail-popup {
  display:none;
  /* background-color:white; */
  padding:4px 4px 12px 4px;
  margin:0px;
}

.detail-div {
  display:none;
}

table {
  border-spacing: 0 15px;
  margin-bottom: 50px;
}

td {
  vertical-align: middle;
}

tr, tbody {
  height: 100px;
}

tr:hover {
  background: linear-gradient(to bottom, #e8e8e8, #e8e8e8, #c7c7c7);  width: 100vw;
  border-bottom: 0 transparent;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.header-style {
  font-family: Poppins, sans-serif;
  color: #232323;
  font-weight: bolder;
  font-size: large;
}

.mat-mdc-raised-button.blue-button {
  background-color: #346eed;
  color: white;
}

.mat-mdc-raised-button.green-button {
  background-color:  rgba(34, 164, 88, 0.93);
  color: white;
}

.mat-mdc-raised-button.grey-button {
  background-color: rgba(153, 153, 153, 0.93);
  color: white;
}

.mat-mdc-raised-button.red-button {
  background-color: #B12B28;
  color: white;
}

.mat-mdc-raised-button.yellow-button {
  background-color: rgb(248,205,2);
  color: black;
}

.mat-radio-outer-circle.red-dot{
  background-color: #B12B28 !important;
}

.eventList:hover {
  cursor:pointer;
}