<div class="container mt-3 fw-bolder">
  <div class="header-style">
      <h1 class="fw-bolder">NRPCA Event List</h1>
  </div>
  <hr/>
</div>

<app-loaderror></app-loaderror>

<div class="container app-container">

    <div class="modal fade"  tabindex="-1" id="detail-popup">
      <div class="modal-dialog" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;">
        <div class="modal-content">
          <div class="modal-body">
            <p><strong>Event: </strong><span id="event-name"></span></p>
            <p><strong>Date: </strong><span id="event-date"></span></p>
            <p><span id="event-detail"></span></p>
          </div>
          <div class="modal-footer" style="text-align:center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rsvpModal"> RSVP </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


  <form id="rsvpForm" name="rsvpForm" #rsvpForm="ngForm" (ngSubmit)="rsvpForEvent()">
    <div class="modal fade" tabindex="-1" id="rsvpModal">
      <div class="modal-dialog" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;">
        <div class="modal-content">
          <div class="modal-header"><h2>RSVP or Cancel</h2></div>
          <div class="modal-body">
            <p><strong>Event: </strong><span id="rsvp-event"></span></p>
            <p><strong>Date: </strong><span id="rsvp-date"></span></p>
            <input type="hidden" name="uid" id="uid">
            <p><strong>Attending?</strong>
              <mat-radio-group aria-label="Select an option" id="attendingRadio" name="attendingRadio" >
                <mat-radio-button name="type1" value="1" [checked]="true" color="primary">Yes, I plan to attend</mat-radio-button>
                <mat-radio-button name="type0" value="0" color="primary">No, I need to cancel</mat-radio-button>
              </mat-radio-group>
            </p>
            <p><strong><label for="numAttending">How many attending?</label></strong>&nbsp;
              <select name="numAttending" id="numAttending" matNativeControl required [(ngModel)]="selectedEvent.attending">
                <option *ngFor="let option of [1, 2, 3, 4, 5]" [value]="option" [selected]="option === 1">{{ option }}</option>
              </select>
            </p>
          </div>
          <div class="modal-footer" style="text-align:center;">
            <button mat-raised-button color="warn" type="submit" data-bs-dismiss="modal">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <h2 class="header-style">Click on event title for details</h2>

    <table class="table table-striped">
        <tbody style="color: black;">
        <tr *ngFor = 'let event of events' >
            <td>
              {{ event.startdatetime | date:'MMM d'}} @ {{ event.startdatetime | date:'h:mm a'}} - {{ event.enddatetime | date:'h:mm a'}}
            </td>
            <td>
              <a id="e{{ event.id }}" (click)="showPopup($event)" class="d-flex flex-row justify-content-end text-black">
                {{ event.eventname }} @ {{ event.location }}
              </a>
              <div class="detail-div" id="d{{ event.id }}">
                {{event.details}} @ {{ event.location }}
              </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
