@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  height: 100%;
  width: 100vw;
}

body {
  margin: 0;
  background: radial-gradient(circle at center, #ffffff, #ffffff, #e8e8e8, #c7c7c7);
  font-family: Poppins, sans-serif !important;
}

@font-face {
  font-family: PorscheFont;
  src: url('/Porsche-App-UI/src/assets/911porscha/911porschav3.ttf') format('truetype');
}

/* use for holding elements on every page */
.app-container {
  background-color: transparent;
  color: black;
}

.app-container-transparent {
  background-color: transparent;
  color:black;
}
.btn-pad {
  padding:8px 14px;
}

/* My Palette: BlueGrey - Grey */
.primary-color {
  background-color: #607D8B;
  color: white;
}
.primary-color-dark {
  background-color: #455A64;
  color: white;
}
.primary-color-light {
  background-color: #CFD8DC;
  color: black;
}
.accent-color {
  background-color: #9E9E9E;
  color: white;
}
.divider-color {
  background-color: #BDBDBD;
  color: black;
}

mat-calendar, mat-month-view, mat-calendar-header, table, thead, tbody, tr, td, th, button {
  font-size: medium !important;
  font-weight: normal !important;
  font-family: Poppins, sans-serif !important;
}


table {
  color: white !important;
}

.error_snackbar {
  --mdc-snackbar-container-color: rgba(255, 77, 77, 0.93);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.success_snackbar {
  --mdc-snackbar-container-color: rgba(34, 164, 88, 0.93);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.ngx-mat-timepicker-table .mat-form-field .mat-form-field-wrapper{
  color: black !important;
  font-size: medium !important;
}

.mat-calendar .mat-calendar-content {
  font-size: medium !important;
}

.mat-mdc-raised-button.blue-button {
  background-color: #346eed;
  color: white;
}

.mat-mdc-raised-button.green-button {
  background-color:  rgba(34, 164, 88, 0.93);
  color: white;
}

.mat-mdc-raised-button.grey-button {
  background-color: rgba(153, 153, 153, 0.93);
  color: white;
}

.mat-mdc-raised-button.red-button {
  background-color: rgba(255, 77, 77, 0.93);
  color: white;
}

.mat-mdc-raised-button.yellow-button {
  background-color: rgb(248,205,2);
  color: white;
}


@keyframes ldio-x2uulkbinbj {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-x2uulkbinbj div {
  left: 70.5px;
  top: 36px;
  position: absolute;
  animation: ldio-x2uulkbinbj linear 1s infinite;
  background: #fe718d;
  width: 9px;
  height: 18px;
  border-radius: 4.5px / 9px;
  transform-origin: 4.5px 39px;
}.ldio-x2uulkbinbj div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}.ldio-x2uulkbinbj div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-nq4q5u6dq7r {
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-x2uulkbinbj div { box-sizing: content-box; }
/* [ldio] generated by https://loading.io */
