@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  height: 100%;
  width: 100vw;
}

body {
  margin: 0;
  background: radial-gradient(circle at center, #ffffff, #ffffff, #e8e8e8, #c7c7c7);
  font-family: Poppins, sans-serif !important;
}

@font-face {
  font-family: PorscheFont;
  src: url('/Porsche-App-UI/src/assets/911porscha/911porschav3.ttf') format('truetype');
}

/* use for holding elements on every page */
.app-container {
  background-color: antiquewhite;
  color:black;
}
.app-container-transparent {
  background-color: transparent;
  color:black;
}
.btn-pad {
  padding:8px 14px;
}

/* My Palette: BlueGrey - Grey */
.primary-color {
  background-color: #607D8B;
  color: white;
}
.primary-color-dark {
  background-color: #455A64;
  color: white;
}
.primary-color-light {
  background-color: #CFD8DC;
  color: black;
}
.accent-color {
  background-color: #9E9E9E;
  color: white;
}
.divider-color {
  background-color: #BDBDBD;
  color: black;
}

mat-calendar, mat-month-view, mat-calendar-header, table, thead, tbody, tr, td, th, button {
  font-size: large !important;
  font-weight: normal !important;
  font-family: Poppins, sans-serif !important;
}


table {
  color: white !important;
}
