<div class="modal fade" tabindex="-1" id="errorloading-popup-box">
  <div class="modal-dialog">  
    <div class="modal-content"> 
        <div class="modal-header">
          <h2 class="modal-title">Error Notification</h2>
        </div>   
        <div class="modal-body">
            <p><strong>There has been an error loading data. Please try again later.</strong></p>
            <p>Error message:</p>
            <div id="err-msg"></div>
        </div>
        <div class="modal-footer" style="text-align:center;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
     </div>
   </div>
</div>      
    
