.header-container {
    color: #000000;
    margin-top: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: bold;
}
table {
  border-spacing: 0 15px;
  margin-bottom: 50px;
}

td {
  vertical-align: middle;
  margin: 0;
}

tr, tbody {
  height: 80px;
  color: black;
  margin: 0;
}

