<div class="container">
    <div class="header-container">
        <h1>NRPCA Events - Total Attending</h1>
    </div>
</div>


<app-loaderror></app-loaderror>


<div class="container app-container">

    <table class="table table-striped table-hover">
        <tr><th>Date</th><th>Event</th><th>Count</th></tr>
        <tbody>
        <tr *ngFor = 'let events of events'>
            <td>{{ events.datetime }}</td>
            <td>{{ events.descr }}</td>
            <td>{{ events.attending }}</td>
        </tr>
        </tbody>
    </table>

</div>
