


<div class="container text-left app-container-transparent">
  <div class="row justify-content-md-center"> 
  
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <p><h1>Admin Login</h1>
  
    <form id="loginForm" name="loginForm" #loginForm="ngForm">
      <div class="form-group">
      <p><label for="email"><strong>Email:</strong></label>
        <input type="text" class="form-control" id="email"  name="email" maxlength="120"></p>
      <p><label for="pwd"><strong>Password:</strong></label>
        <input type="password" class="form-control" id="pwd"  name="pwd" maxlength="20"></p>
      </div>
      <button type="submit" class="btn yellow-button" (click)="this.getLogin()">OK</button> 
    </form>


  </div>
  <div class="col-sm-4">
  </div>


  </div>
</div>
