


<div class="container text-left app-container-transparent">
  <div class="row justify-content-md-center"> 
  
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <p><h1>Login</h1>
  
    <form id="loginForm" name="loginForm">
    <div class="modal-body">
      <p><strong>Email: </strong><input type = "text" id="email"  name="email"></p>
      <p><strong>Password: </strong><input type = "text" id="pwd"  name="pwd"></p>

      <button mat-raised-button class="mat-yellow " type="submit"  (click)="this.getLogin()">OK</button>
    </div>  
    </form>


  </div>
  <div class="col-sm-4">
  </div>


  </div>
</div>
