<div class="container">
    <div class="header-container">
      <h1 class="mt-3 header-h1-style">Event List Update/Delete</h1>
    </div>
    <hr>
</div>

<app-loaderror></app-loaderror>

  <div class="modal fade" tabindex="-1" id="update-popup-box">
    <div class="modal-dialog">
      <div class="modal-content">
        <form #updateForm="ngForm" name="updateForm">
          <div class="modal-body">
            <p><strong>Event: </strong><textarea [(ngModel)]="eventName" id="event-name"  name="event-name" 
              maxlength="1024">name</textarea></p>
            <p><strong>Location: </strong><textarea [(ngModel)]="eventLocation" id="event-location"  name="event-location"
              maxlength="1024">location</textarea></p>
            <p><strong>Start Date: </strong>
            <mat-form-field appearance="outline" style="background-color:#fff;">
              <input matInput placeholder="Choose start date/time" [(ngModel)]="myStartDate" 
              name="event_startdate" #event_startdate>
              <ngx-mat-datetime-picker #start_picker [defaultTime]="[8,0,0]" [stepMinute]="15" [touchUi]="true" [enableMeridian]="true" [showSpinners]="true" [showSeconds]="false"
              name="event_start_date"></ngx-mat-datetime-picker>
            </mat-form-field>
            </p>
            <p><strong>End Date: </strong>
            <mat-form-field appearance="outline" style="background-color:#fff;">
              <input matInput  placeholder="Choose end date/time" [(ngModel)]="myEndDate" name="event_enddate" #event_enddate [min]="myStartDate">
              <ngx-mat-datetime-picker #end_picker [defaultTime]="[8,0,0]" [stepMinute]="15" [touchUi]="true" [enableMeridian]="true" [showSpinners]="true" [showSeconds]="false"
               name="event_end_date"></ngx-mat-datetime-picker>
            </mat-form-field>

            </p>
            <p><strong>Details: </strong><textarea [(ngModel)]="eventDetails" id="event-details" name="event-details"
              maxlength="2048">details</textarea></p>
          </div>
          <div class="modal-footer" style="text-align:center;">
            <button mat-raised-button class="mat-yellow " type="submit" data-bs-dismiss="modal" (click)="this.submitUpdate()">Update</button>
            &nbsp;&nbsp;
            <button mat-raised-button class="mat-red " type="button" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

    <div class="modal fade" tabindex="-1" id="delete-popup-box">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
                <p><strong>Event: </strong><textarea id="event-name-delete"  name="event-name"></textarea></p>
                <p><strong>Location: </strong><textarea id="event-location-delete"  name="event-location"></textarea></p>
                <p><strong>Date: </strong><input id="event-date-delete"  name="event-date" length="100" maxlength="100"></p>
                    <input type="hidden" [(ngModel)]="eventId" name="uid" id="uid-delete">
                <p><strong>Are you sure you wish to delete this event?</strong></p>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button mat-raised-button class="mat-red " type="submit" (click)="this.deleteEvent(this.selectedEvent.id)" data-bs-dismiss="modal">Yes, Delete</button>
                &nbsp;&nbsp;
                <button mat-raised-button class="grey-button " type="button" data-bs-dismiss="modal">No, Cancel</button>
            </div>

          </div>
        </div>
    </div>


<div class="container app-container mb-5">
    <h2>Click button to update or delete an event</h2>

<div id="dummyNot" class="mb-5">
<table class="table table-striped mb-5">
    <tr>
      <th>Date</th>
      <th>Event</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tbody>
       <tr *ngFor = 'let events of events'>
        <td>
        {{ events.startdatetime | date:'MMM d'}} &#64; {{ events.startdatetime | date:'h:mm a'}} - 
        {{ events.endday == events.startday  ? '' :  (events.enddatetime | date:'MMM d') + ' @ ' }} 
        {{ events.enddatetime | date:'h:mm a' }}
      </td>
         <td>{{ events.eventname }}</td>
         <td>{{ events.location }}</td>
<!--         <td>-->
<!--            <div style="display:none;">{{ events.detail }}</div>-->
<!--            <button class="btn btn-secondary btn-sm" (click)="showDetailsPopup($event)"  id="d{{ events.id }}">Details</button>-->
<!--        </td>-->
        <td><button class="btn btn-sm yellow-button " (click)="showUpdatePopup($event)" id="edit{{ events.id }}">Update</button></td>
        <td><button class="btn btn-sm red-button " (click)="showDeletePopup($event)" id="delete{{ events.id }}">Delete</button></td>
       </tr>
    </tbody>
</table>
</div>

</div>

